$icomoon-font-path: "/assets/fonts/icons" !default;

$icon-first-aid-case: "\e904";
$icon-pill-bottle: "\e902";
$icon-checked: "\e900";
$icon-magnifier: "\e600";
$icon-cart: "\e601";
$icon-play: "\e602";
$icon-right-arrow: "\e603";
$icon-facebook: "\e604";
$icon-twitter: "\e605";
$icon-pinterest: "\e606";
$icon-google-plus: "\e607";
$icon-waves: "\e608";
$icon-leaves: "\e609";
$icon-youtube: "\e60a";
$icon-menu: "\e60b";
$icon-algae: "\e60c";
$icon-arrow: "\e60d";
$icon-close: "\e60e";
$icon-email: "\e60f";
$icon-acrobat: "\e610";
$icon-locked: "\e906";
$icon-pencil: "\e905";
$icon-book: "\e91f";
$icon-menu2: "\e9bd";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-arrow-up-right: "\ea33";
$icon-arrow-up-right2: "\ea3b";
$icon-mail4: "\ea86";
$icon-amazon: "\ea87";
$icon-instagram: "\ea92";
$icon-wikipedia: "\eac8";
$icon-file-pdf: "\eadf";
$icon-home3: "\e903";
$icon-credit-card: "\e93f";
$icon-phone2: "\e942";
$icon-user-tie: "\e976";
$icon-lab: "\e9aa";
$icon-accessibility: "\e9b2";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-mail2: "\ea84";
$icon-file-text2: "\e926";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-bin: "\e9ac";
$icon-user: "\e971";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-phone: "\e901";
$icon-envelope-o: "\f003";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-shopping-cart: "\f07a";
$icon-twitter2: "\f099";
$icon-facebook2: "\f09a";
$icon-facebook-f: "\f09a";
$icon-truck: "\f0d1";
$icon-pinterest2: "\f0d2";
$icon-youtube-square: "\f166";
$icon-wordpress: "\f19a";
$icon-google: "\f1a0";
$icon-paypal: "\f1ed";
$icon-cc-visa: "\f1f0";
$icon-cc-mastercard: "\f1f1";
$icon-cc-discover: "\f1f2";
$icon-cc-amex: "\f1f3";
$icon-cc-paypal: "\f1f4";