@import "icomoon_variables";

@font-face {
  font-family: 'algaecal-icons';
  src:  url('#{$icomoon-font-path}/algaecal-icons.eot?x1fs32');
  src:  url('#{$icomoon-font-path}/algaecal-icons.eot?x1fs32#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/algaecal-icons.ttf?x1fs32') format('truetype'),
    url('#{$icomoon-font-path}/algaecal-icons.woff2?x1fs32') format('woff2'),
    url('#{$icomoon-font-path}/algaecal-icons.woff?x1fs32') format('woff'),
    url('#{$icomoon-font-path}/algaecal-icons.svg?x1fs32#algaecal-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:not(.bc-icon), [class*=" icon-"]:not(.bc-icon) {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'algaecal-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-first-aid-case {
  &:before {
    content: $icon-first-aid-case;
  }
}
.icon-pill-bottle {
  &:before {
    content: $icon-pill-bottle;
  }
}
.icon-checked {
  &:before {
    content: $icon-checked;
  }
}
.icon-magnifier {
  &:before {
    content: $icon-magnifier;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-right-arrow {
  &:before {
    content: $icon-right-arrow;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-waves {
  &:before {
    content: $icon-waves;
  }
}
.icon-leaves {
  &:before {
    content: $icon-leaves;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-algae {
  &:before {
    content: $icon-algae;
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-acrobat {
  &:before {
    content: $icon-acrobat;
  }
}
.icon-locked {
  &:before {
    content: $icon-locked;
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil;
  }
}
.icon-book {
  &:before {
    content: $icon-book;
  }
}
.icon-menu2 {
  &:before {
    content: $icon-menu2;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-checkmark2 {
  &:before {
    content: $icon-checkmark2;
  }
}
.icon-arrow-up-right {
  &:before {
    content: $icon-arrow-up-right;
  }
}
.icon-arrow-up-right2 {
  &:before {
    content: $icon-arrow-up-right2;
  }
}
.icon-mail4 {
  &:before {
    content: $icon-mail4;
  }
}
.icon-amazon {
  &:before {
    content: $icon-amazon;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-wikipedia {
  &:before {
    content: $icon-wikipedia;
  }
}
.icon-file-pdf {
  &:before {
    content: $icon-file-pdf;
  }
}
.icon-home3 {
  &:before {
    content: $icon-home3;
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card;
  }
}
.icon-phone2 {
  &:before {
    content: $icon-phone2;
  }
}
.icon-user-tie {
  &:before {
    content: $icon-user-tie;
  }
}
.icon-lab {
  &:before {
    content: $icon-lab;
  }
}
.icon-accessibility {
  &:before {
    content: $icon-accessibility;
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty;
  }
}
.icon-star-half {
  &:before {
    content: $icon-star-half;
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full;
  }
}
.icon-mail2 {
  &:before {
    content: $icon-mail2;
  }
}
.icon-file-text2 {
  &:before {
    content: $icon-file-text2;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-eye-blocked {
  &:before {
    content: $icon-eye-blocked;
  }
}
.icon-bin {
  &:before {
    content: $icon-bin;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart;
  }
}
.icon-twitter2 {
  &:before {
    content: $icon-twitter2;
  }
}
.icon-facebook2 {
  &:before {
    content: $icon-facebook2;
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f;
  }
}
.icon-truck {
  &:before {
    content: $icon-truck;
  }
}
.icon-pinterest2 {
  &:before {
    content: $icon-pinterest2;
  }
}
.icon-youtube-square {
  &:before {
    content: $icon-youtube-square;
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-paypal {
  &:before {
    content: $icon-paypal;
  }
}
.icon-cc-visa {
  &:before {
    content: $icon-cc-visa;
  }
}
.icon-cc-mastercard {
  &:before {
    content: $icon-cc-mastercard;
  }
}
.icon-cc-discover {
  &:before {
    content: $icon-cc-discover;
  }
}
.icon-cc-amex {
  &:before {
    content: $icon-cc-amex;
  }
}
.icon-cc-paypal {
  &:before {
    content: $icon-cc-paypal;
  }
}